# Ignore system env config.
/.env

# Ignore Lokalise config
.lokalise.cfg
.lokalise.yml

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore mac custom file attributes config.
.DS_Store

# Ignore personal workspace setting
.vscode/

# Ignore Docker volumes
docker/volumes/**

# Ignore decrypted helm-secret files
**/*.yaml.dec

# Ignore terraform temp files
.terraform
*.tfstate
*.tfstate.backup
.terragrunt-cache

# Ignore test snapshots
tests/__snapshot__
