## Patterns to ignore when building packages.
## This supports shell glob matching, relative path matching, and
## negation (prefixed with !). Only one pattern per line.

## Apple macOS custom attributes file
.DS_Store

## Common VCS directory and files
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
README.md
LICENSE

## Common backup files
*.swp
*.bak
*.tmp
*.orig
*~

## Various IDEs
.project
.idea/
*.tmproj
.vscode/

## Helm unit test
tests/

## Helm script
helm.sh
